* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

body {
    height: 100%;
    background-color: #7f848e;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.content {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 30px;
    text-align: center;
    color: #5c6370;
}

li {
    display: inline;
    list-style: none;
    align-items: center;
    margin: 0 30px;
}

#main-text {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 50px;
    display: flex;
    justify-content: flex-start;
    color: #5c6370;
}

#question {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#main-text p {
    padding: 20px 0;
}

#main-text img {
    justify-content: none;
    border-radius: 16px;
}

#main-text-table {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 50px;
    justify-content: flex-start;
}


#main-text table tbody tr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#main-text table a {
    color: inherit;
    text-decoration: none;
}

#saves {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    font-size: 1rem;
    border: none;
}

#saves label{
    margin-top: 2px;
}

#saves input#share {
    margin-top: 5px;
}



.fa {
    padding: 0;
    margin: 0;
    font-size: 30px;
    width: 30px;
    align-items: center;
    text-align: center;
    text-decoration: none;
}