{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <header>
        <div class="content">
            <h2 id="title">How you saved the world?</h2>

                <nav class="pages-tab">
                <ul class ="nav nav-pills nav-fill ">
                    <li class="nav-item "> <a class="nav-link text-muted" href="/">times I was a hero</a></li>
                    <li class="nav-item "> <a class="nav-link active bg-dark" href="/yousave">times you were a hero</a></li>
                    <li class="nav-item"> <a class="nav-link text-muted" href="/contact">contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class= "d-flex justify-content flex-column center-align" id="main-text">
        <h3>Spread the story</h3>
        
            <form id="saves" action="{% url 'yousave' %}" method="post" class="form"  autocomplete="off">
                {% csrf_token %}
                {{ form.as_table }}
                <div class="d-flex align-items-center flex-wrap">
                    <input class="btn btn-dark" id="share" type="submit" value="Share">
                </div>
            </form>
    </div>

    <div class= "d-flex justify-content-start" id="main-text-table"> 
        {% if times %}
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">When</th>
                        <th scope="col">How</th>
                        <th scope="col">Thanks to</th>
                    </tr>
                </thead>

                <tbody>
                {% for time in times %}
                    <tr>
                        <th scope="row">{{ time.id }}</th>
                        <td>{{ time.when }}</td>
                        <td>{{ time.how }}</td>
                        <td>{% for name in time.thanks.all %}{{ name }}<br>{% endfor %}</td>
                    </tr>
                {% endfor %}
               
                </tbody>
            </table>
        </div>
        {% else %} 
        <h2>No inputs yet :(</h2>
        {% endif %}
    </div>
{% endblock %}
